# The URL that the frontend will use to connect to the backend
# If you add more env variables to the client, make sure they all start with 'VITE_'
VITE_BACKEND_URL=http://localhost:3000

# GoogleAPI Client ID for OAuth2 authentication
VITE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com