.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--inner-border-radius);
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.googleButton:hover {
  border-color: var(--color-dark-grey);
}
.googleLogo {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .googleButton {
    justify-content: space-evenly;
  }
}
