.navContainer {
  position: fixed;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: var(--color-semi-transparent-white);
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-border);
  border-radius: 150px;
}
.svg {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 170px;
  width: 170px;
}
.logo {
  position: relative;
  margin: 0 10px;
  width: 170px;
}
.navButton {
  padding: 20px 35px 25px 35px;
}
.nav a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 150px;
  border: 1px solid transparent;
}
.nav a:hover {
  border: 1px solid var(--color-border);
}
