*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Fonts */
  --font-sans: Urbanist, sans-serif;
  --font-mono: Roboto Mono, monospace;

  /* Colors */
  --color-white: #fff;
  --color-semi-transparent-white: rgba(255, 255, 255, 0.5);
  --color-black: #0d0d0d;
  --color-border: #ccc;
  --color-orange: #fe4a22;
  --color-yellow: #ffd026;
  --color-dark-grey: #1a1a1aff;

  /* Other */
  --outer-border-radius: 0.625rem;
  --inner-border-radius: 0.5rem;
  --pill-border-radius: 9.375rem;
  --circle-border-radius: 50%;
  --border: 1px solid var(--color-border);
}

html {
  font-size: 100%;
  color: var(--color-black);
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-orange);
}
a:hover {
  text-decoration: underline;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  background: none;
  outline: none;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border-color: var(--color-dark-grey);
}
select {
  cursor: pointer;
}
button {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
button:hover {
  opacity: 0.9;
}
button:disabled {
  cursor: auto;
}

body {
  font-family: var(--font-sans), sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  padding: 0 10rem 5rem 10rem;
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
  body {
    padding: 1rem;
  }
}
