*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Fonts */
  --font-sans: Urbanist, sans-serif;
  --font-mono: Roboto Mono, monospace;

  /* Colors */
  --color-white: rgb(255, 255, 255);
  --color-semi-transparent-white: rgba(255, 255, 255, 0.5);
  --color-black: #0d0d0d;
  --color-border: #ccc;
  --color-orange: #fe4a22;
  --color-yellow: #ffd026;
  --color-dark-grey: #1a1a1aff;

  /* Other */
  --outer-border-radius: 0.625rem;
  --inner-border-radius: 0.5rem;
  --pill-border-radius: 9.375rem;
}

html {
  font-size: 100%;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  color: var(--color-orange);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button,
input {
  font-family: inherit;
  font-weight: inherit;
  border: none;
  background: none;
  outline: none;
}

body {
  font-family: var(--font-sans);
  font-weight: 500;
  padding: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
