.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  padding: 0.3rem 0.5rem;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.actionsContainer {
  display: flex;
  gap: 0.5rem;
}
.icon {
  width: 1rem;
  height: 1rem;
}
.tagsContainer ul {
  display: flex;
  gap: 0.5rem;
}
.tag {
  border: 1px solid var(--color-border);
  display: flex;
  border-radius: var(--pill-border-radius);
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  transition: border-color 0.2s ease;
}
.tag:hover {
  border: 1px solid var(--color-dark-grey);
}

.footer button {
  border: 1px solid var(--color-border);
  display: flex;
  border-radius: var(--circle-border-radius);
  padding: 0.5rem;
  transition: border-color 0.2s ease;
}
.footer button:hover {
  border: 1px solid var(--color-dark-grey);
}

.menuPopover {
  position: absolute;
  top: 2.2em;
  right: 0;
  z-index: 10;
  background: #acabab;
  border-radius: 0.7em;
  padding: 0.3em 0.5em;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.menuBtn {
  display: block;
  width: 100%;
  background: none;
  border: none;
  color: var(--color-black);
  padding: 0.65em 1.2em;
  text-align: left;
  font-size: 1.08rem;
  border-radius: 0.6em;
  font-weight: 500;
  cursor: pointer;
  transition:
    background 0.15s,
    color 0.15s;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

.menuBtn:hover,
.menuBtn:focus-visible {
  background: #f5f5f5;
  color: #111;
}
