.fab {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--color-orange);
  color: var(--color-white);
  border-radius: var(--circle-border-radius);
  padding: 1rem 1rem 0.813rem 1rem;
  z-index: 1000;
}
.icon {
  width: 2rem;
  height: 2rem;
}
