# DONT FORGET TO UPDATE config.js WHEN ADDING NEW ENV VARIABLES

# This is the port our server will be running on
PORT=3000

# This is the URL the server will use for the database. The example is an Atlas URL, but can be anything
MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/c52-group-a?retryWrites=true&w=majority&appName=HYF-final-projects

# The number of rounds to use for hashing passwords
SALT_ROUNDS=12

# JWT secret for signing tokens
JWT_SECRET=jwt_secret_key

# expiration time for email validation tokens in seconds
EMAIL_VALIDATION_EXPIRATION=600

# Seeder options
FEED_WINDOW_HOURS=28       # number of hours used to rank posts

# When running cypress tests, make sure to change the database. Our cypress will only seed/clean databases that are called cypressDatabase to protect our normal data
# MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/cypressDatabase?retryWrites=true&w=majority

# THIS IS THE EMAIL AND PASSWORD FOR THE EMAIL ACCOUNT WE USE TO SEND EMAILS FROM OUR SERVER
EMAIL_PROVIDER=gmail
EMAIL=something@gmail.com
EMAIL_PASSWORD=password_here

# Google OAuth client ID used for authentication
CLIENT_ID=client_id_here.apps.googleusercontent.com

