.wrapper {
  border: 1px solid var(--color-border);
  border-radius: var(--outer-border-radius);
  margin-top: 1rem;
}

.contentContainer {
  padding: 1rem;
}
.headerContainer {
  text-align: center;
  padding: 0.5rem;
}
.postContent {
  padding: 0.3rem;
}
.link,
.linkDisabled {
  color: var(--color-black);
}
.linkDisabled {
  pointer-events: none;
}
.link:hover,
.linkDisabled:hover {
  text-decoration: none;
}
