.dash_lg {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--outer-border-radius);
  padding: 1.25rem;
  margin-top: 10rem;
  font-size: 3rem;
}
.mainContainer {
  display: flex;
  gap: 2rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nameAndBtnContainer {
  display: flex;
  justify-content: space-between;
}
.nameContainer {
  margin-top: 1.5rem;
}
.fullName {
  font-size: 2rem;
}
.username {
  color: var(--color-orange);
}
.followBtn {
  background: var(--color-white);
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: var(--pill-border-radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
}
.followBtn:hover {
  background: var(--color-orange);
  color: var(--color-white);
}
