.dash {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--outer-border-radius);
  margin-top: 10rem;
}
.dash_sm {
  padding: 0.5rem;
  font-size: 2rem;
}
.dash_lg {
  padding: 1.25rem;
  font-size: 3rem;
}
.mainContainer {
  display: flex;
  gap: 0.5em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.nameAndBtnContainer {
  display: flex;
  justify-content: space-between;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fullName {
  font-size: 1em;
}
.username {
  font-size: 0.6em;
}
.followBtn {
  color: var(--color-orange);
  font-size: 0.65em;
  cursor: pointer;
  align-self: flex-start;
}
.followBtn_sm {
  font-size: 0.8em;
  margin: 0.5em;
}
.followBtn_sm:hover {
  border-bottom: 1px solid var(--color-orange);
}
.followBtn_lg {
  background: var(--color-white);
  border: 1px solid var(--color-orange);
  border-radius: var(--pill-border-radius);
  padding: 0.1em 0.6em;
}
.followBtn_lg:hover {
  background: var(--color-orange);
  color: var(--color-white);
}

.bio {
  margin-top: 0.5em;
  font-size: 0.5em;
}
