.main {
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.postsContainer {
  padding: 0 1rem;
}

.editProfileBtnWrap {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}

.editProfileBtn {
  background: var(--color-yellow);
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  padding: 0.6rem 2rem;
}
@media (max-width: 768px) {
  .main {
    padding-top: 3vw;
  }
  .postsContainer {
    padding: 0;
  }
}
