.main {
  padding-top: 10rem;
}
.dashboard {
  margin-bottom: 2rem;
}
.postContainer {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .main {
    padding-top: 3vw;
  }
  .postContainer {
    padding: 0;
  }
}
